body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-container {
    margin: 20px 0;
}

.logo {
    width: 250px;
}

.comunitate h2, .regulament h2 {
    color: #f4a100;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #222;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
}

.link:hover {
    background-color: #f4a100;
    transform: scale(1.05);
}

.link img {
    width: 20px;
}

.regulament {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    transition: background-color 0.3s;
}

.regulament:hover {
    background-color: #333;
}

.ban {
    color: red;
    font-weight: bold;
}

.mute-ban {
    color: orange;
    font-weight: bold;
}

.mute {
    color: yellow;
    font-weight: bold;
}
