body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 300px;
    height: auto;
}

.links h2 {
    color: #f1c40f;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 10px;
    margin: 10px auto;
    width: 250px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
}

.link img {
    width: 24px;
    margin-right: 10px;
}

.link:hover {
    transform: scale(1.1);
    background-color: #444;
}

.twitter { border-left: 5px solid #1DA1F2; }
.whatsapp { border-left: 5px solid #25D366; }
.telegram { border-left: 5px solid #0088CC; }

.rules {
    background-color: rgba(34, 34, 34, 0.9);
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    text-align: left;
}

.rules h2 {
    text-align: center;
    color: #f1c40f;
}

.rules ul {
    list-style: none;
    padding: 0;
}

.rules li {
    padding: 5px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.rules li:hover {
    transform: translateX(10px);
}

.ban {
    color: red;
    font-weight: bold;
}

.mute {
    color: orange;
    font-weight: bold;
}
